<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Match history</title>
  <style>

  </style>
  <script>

  </script>
</head>
<body class="match-page">
  <%- include('partials/body-header.ejs') -%>

  <h1>Match history</h1>
  
  <table style="text-align: center;">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th colspan="2">Team 1</th>
        <th class="score">Score</th>
        <th colspan="2">Team 2</th>
        <th class="score">Score</th>
      </tr>
    </thead>
    <tbody>
      <% for (let index = 0; index < matchRatings.length; ++index) { const matchRating = matchRatings[index]; const game = matchRating.game; %>
      <tr>
        <td><a href="/view-match?id=<%= game.uuid %>"><%= matchRatings.length - index %></a></td>
        <td><%= dateFormatter.format(game.gameDate) %></td>
        <td><%= game.player1.shortName %></td>
        <td><%= game.player2.shortName %></td>
        <td><%= game.team1Score %></td>
        <td><%= game.player3.shortName %></td>
        <td><%= game.player4.shortName %></td>
        <td><%= game.team2Score %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  
  <%- include('partials/do-more-section.ejs') -%>
</body>
</html>
